{% extends 'base.html' %}

{% block main %}
    <!-- Main container -->
    <main .ml-1>
        <br><br> &ensp;

        <!-- Breadcrumb (path) -->
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                    <li class="breadcrumb-item"><a href="/project/{{project.id}}">{{project.name}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Activity</li>
                </ol>
            </nav>
        </div>



        <br>

        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Activity for {{project.name}}</h1>
            <p class="lead">Latest updates for {{project.name}}</p>
          </div>
        </div>

        <br>

            <div class="row">
                <div class="col">

            <!-- Table of tasks -->
            <table class="table">

                <!-- heads -->
                <thead>
                    <tr>
                        <th scope="col" >Task</th>
                        <th scope="col" class="text-center">Update </th>
                    </tr>
                </thead>

                <!-- body of the table -->
                <tbody>
                    {% for journal in list_journals %}
                            <tr>
                                <th scope="row" ><a href="/task/{{journal.task.id}}">{{journal.task.name}}</a></th>
                                <td scope="row" class="text-center">
                                    <span class="badge badge-primary">{{journal.author}} </span> : <i> {{journal.entry}}</i><br>
                                    <font size="-1">{{journal.date}}</font>

                                </td>

                            </tr>
                    {% endfor %}
                </tbody>

            </table>
            <!-- end of table -->
        </div>
                <div class="col">

            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <title>Stacked Bar Chart</title>
            <script src="../../../../dist/2.9.3/Chart.min.js"></script>
            <script src="../../utils.js"></script>
            <style>
            canvas {
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
            </style>
                <div class="chart-container" style="position: relative; height:10vh; width:20vw">
                <canvas id="myChart" width="400" height="400"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [
                                    {% for member in list_members %}
                                        '{{member.username}}',
                                    {% endfor %}

                            ],
                            datasets: [{
                                label: '# contributions',
                                data: [{% for c in contributions %}
                                    '{{c}}',
                                {% endfor %}
                                ],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
            </div>
    </main>
{% endblock %}