{% extends 'base.html' %}

{% block main %}
<br/><br/><br/><br/>

<div class="col-12">
    <h3>Export Data</h3>
    <p>Export data from the database into the desired format.</p>
    <br/>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Please select format of file.</p>
        <select name="file-format" class="form-control my-3">
            <option selected>Choose format...</option>
            <option>CSV</option>
            <option>JSON</option>
            <option>XLS (Excel)</option>
            <option>XML</option>
          </select>
        <p> Please select the data desired.</p>
        <select name="data-type" class="form-control my-3">
            <option selected>Choose data...</option>
            <option>Projects</option>
            <option>Tasks</option>
            <option>Journals</option>
            <option>Status</option>
        </select>
        <button class="btn btn-primary" type="submit">Export</button>
      </form>
</div>

{% endblock %}