{% extends 'base.html' %}

{% block main %}
    <!-- main container -->
    <main .ml-1>
        <br><br><br><br>

        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Projects</h1>
            <p class="lead">Here is the list of your projects</p>
          </div>
        </div>
        <!-- End of Jumbotron -->

        <br><br><br>

        <!-- Table of projects -->
        <div class="col-11">
            <table class="table">

                <!-- Table head -->
                <thead>
                    <tr>
                        <th scope="col">Project</th>
                        <th scope="col">Members</th>
                        <th scope="col">Highest priority task</th>
                        <th scope="col">Next due date</th>
                    </tr>
                </thead>

                <!-- Table body -->
                <tbody>
                    {% for project in list_projects %}
                        <tr>
                            <th scope="row"><a type="button" class="btn btn-info" href="/project/{{project.0.id}}">{{project.0}}</a></th>

                            <!-- row for members -->
                            <td scope="row">
                                {% for member in project.0.members.all%}
                                    <span class="badge badge-primary"> {{member}} </span>
                                <br>
                                {% endfor %}
                            </td>

                            <!-- row for highest priority task -->
                            <td scope="row"><a href="/task/{{project.1.0.id}}">
                                <span class="badge badge-warning">{{project.1.0}}</span></a><br>Priority : {{project.1.0.priority}}
                            </td>

                            <!-- row for next due date -->
                            <td scope="row"><a href="/task/{{project.2.0.id}}">
                                <span class="badge badge-danger">{{project.2.0}}</span></a><br>{{project.1.0.due_date}}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
                <!-- End of table body -->

            </table>
        </div>
        <!-- End of table -->



    </main><!-- End of main container -->

{% endblock %}
