{% extends 'base.html' %}

{% block main %}
        <!--- main container -->
        <main .ml-1>
            <br><br><br><br>

            <!-- Jumbotron -->
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">New Task</h1>
                <p class="lead">A form to create a new task !</p>
              </div>
            </div>

            <br>

            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6">

                        <!-- Form -->
                        <form action="/newtask/" method="post">
                             {% csrf_token %}

                            <!-- Select project -->
                            <div class="form-group">
                                <label for="id_project">Project:</label>
                                <select class="form-control" name="project" required id="id_project">
                                    <option selected>Choose project</option>
                                    {% for project in list_projects %}
                                      <option value="{{project.id}}">{{project.name}}</option>
                                    {% endfor %}
                                 </select>
                            </div>

                            <!-- Enter name -->
                            <div class="form-group">
                                 <label for="id_name">Name:</label>
                                <input type="text" class="form-control" name="name" required id="id_name" placeholder="Name">
                            </div>

                            <!-- enter description --->
                            <div class="form-group">
                                <label for="id_description">Description:</label>
                                <input type="text" class="form-control" name="description" required id="id_description" placeholder="Description">
                            </div>

                            <!-- Select Assignee -->
                            <div class="form-group">
                                <label for="id_assignee">Assignee</label>
                                <select class="form-control" name="assignee" required id="id_assignee">
                                    <option selected>Choose assignee</option>
                                    {% for user in list_users %}
                                        <option value="{{user.id}}">{{user.username}}</option>
                                     {% endfor %}
                                </select>
                            </div>

                            <!-- Start Date -->
                            <div class="form-group">
                                <label for="id_start_date">Start date (YYYY-MM-DD):</label>
                                <input type="text" class="form-control" name="start_date" required id="id_start_date" placeholder="YYYY-MM-DD">
                             </div>

                            <!-- Due Date -->
                            <div class="form-group">
                                <label for="id_due_date">Due date (YYYY-MM-DD):</label>
                                <input type="text" class="form-control" name="due_date" required id="id_due_date" placeholder="YYYY-MM-DD">
                            </div>

                            <!-- Enter priority -->
                            <div class="form-group">
                                <label for="id_priority">Priority:</label>
                                <input type="number" class="form-control" name="priority" required id="id_priority">
                            </div>

                            <!-- Select status -->
                            <div class="form-group">
                                <label for="id_status">status</label>
                                <select class="form-control" name="status" required id="id_status">
                                    <option selected>Choose status</option>
                                    {% for status in list_status %}
                                        <option value="{{status.id}}">{{status.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button type="submit" value="submit" class="btn btn-primary">Save</button>

                            <br><br><br><br><br><br>
                        </form>
                        <!-- end of form -->

                    </div>
                </div>
            </div>
        </main>
        <!-- end of main container -->

{% endblock %}