{% extends 'base.html' %}

{% block main %}
    <!-- Main container -->
    <main .ml-1>
        <br><br> &ensp;

        <!-- Breadcrumb (path) -->
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
                </ol>
            </nav>
        </div>



        <br>

        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">{{project.name}}</h1>
            <p class="lead">Here is the list the tasks involved in {{project.name}}</p>
              <a class="btn btn-primary" href="/newtask/" role="button">New Task</a>
              &ensp; &ensp;
              <a class="btn btn-warning" href="/activity/{{project.id}}" role="button">Activity</a>
          </div>
        </div>

        <p class="col-8">
            <b><u>Overall progress :</u></b> &ensp;
            <div class="col-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">{{progress}}%</div>
                </div>
            </div>
        </p>

        <br>

        <div class="col-12">

            <!-- Table of tasks -->
            <table class="table">

                <!-- heads -->
                <thead>
                    <tr>
                        <th scope="col" >Task</th>
                        <th scope="col" class="text-center">Assignee</th>
                        <th scope="col" class="text-center">Start date</th>
                        <th scope="col" class="text-center">Due date</th>
                        <th scope="col" class="text-center">Progress</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>

                <!-- body of the table -->
                <tbody>
                    {% for task in list_tasks %}
                        {% if task.assignee == user %}
                            <tr>
                                <th scope="row" ><a href="/task/{{task.id}}">{{task.name}}</a></th>
                                <td scope="row" class="text-center"><span class="badge badge-danger">{{task.assignee}}</span></td>
                                <td scope="row" class="text-center">{{task.start_date}}</td>
                                <td scope="row" class="text-center">{{task.due_date}}</td>
                                <td scope="row" class="text-center">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{task.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{task.progress}}%">{{task.progress}}%</div>
                                    </div>
                                </td>
                                <td scope="row" class="text-center">
                                    <a href="/updatetask/{{task.id}}">
                                        <img src="https://cdn.onlinewebfonts.com/svg/img_148628.png" width="20" height="20">
                                    </a>
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <th scope="row"><a href="/task/{{task.id}}">{{task.name}}</a></th>
                                <td scope="row" class="text-center"><span class="badge badge-primary">{{task.assignee}}</span></td>
                                <td scope="row" class="text-center">{{task.start_date}}</td>
                                <td scope="row" class="text-center">{{task.due_date}}</td>
                                <td scope="row" class="text-center">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{task.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{task.progress}}%">{{task.progress}}%</div>
                                    </div>
                                </td>
                                <td scope="row" class="text-center">
                                    <a href="/updatetask/{{task.id}}">
                                        <img src="https://cdn.onlinewebfonts.com/svg/img_148628.png" width="20" height="20">
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>

            </table>
            <!-- end of table -->
        </div>

    </main>
{% endblock %}