{% extends 'base.html' %}

{% block main %}

        <!-- Main container -->
        <main .ml-1>

            <br><br><br><br>

            <!-- Jumbotron -->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Update Task : {{utask.name}}</h1>
                    <p class="lead">A form to update a task !</p>
                </div>
            </div>

            <br>

            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">

                    <!-- Form -->
                    <div class="col-10 col-md-8 col-lg-6">
                        <form action="/updatetask/{{utask.id}}" method="post">
                            {% csrf_token %}

                            <!-- Select Project -->
                            <div class="form-group">
                                <label for="id_project">Project:</label>
                                <select class="form-control" name="project" required id="id_project">
                                    <option value="{{utask.project.id}}" selected>{{utask.project.name}}</option>
                                </select>
                            </div>

                            <!-- Enter name -->
                            <div class="form-group">
                                <label for="id_name">Name:</label>
                                <input type="text" class="form-control" name="name" required id="id_name" value="{{utask.name}}">
                            </div>

                            <!-- Enter description -->
                            <div class="form-group">
                                <label for="id_description">Description:</label>
                                <input type="text" class="form-control" name="description" required id="id_description" value="{{utask.description}}">
                            </div>

                            <!-- Select Assignee -->
                            <div class="form-group">
                                <label for="id_assignee">Assignee</label>
                                <select class="form-control" name="assignee" required id="id_assignee">
                                    <option selected value="{{utask.assignee.id}}">{{utask.assignee.username}}</option>
                                    {% for user in list_users %}
                                        {% if user.id != utask.assignee.id %}
                                            <option value="{{user.id}}">{{user.username}}</option>
                                        {% endif %}}
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Enter start date -->
                            <div class="form-group">
                                <label for="id_start_date">Start date (YYYY-MM-DD):</label>
                                <input type="text" class="form-control" name="start_date" required id="id_start_date" value="{{utask.start_date.year}}-{{utask.start_date.month}}-{{utask.start_date.day}}">
                            </div>

                            <!-- enter Due Date -->
                            <div class="form-group">
                                <label for="id_due_date">Due date (YYYY-MM-DD):</label>
                                <input type="text" class="form-control" name="due_date" required id="id_due_date" value="{{utask.due_date.year}}-{{utask.due_date.month}}-{{utask.due_date.day}}">
                            </div>

                            <!-- enter priority -->
                            <div class="form-group">
                                <label for="id_priority">Priority:</label>
                                <input type="number" class="form-control" name="priority" required id="id_priority" value="{{utask.priority}}">
                            </div>

                            <!-- Select status -->
                            <div class="form-group">
                                <label for="id_status">status</label>
                                <select class="form-control" name="status" required id="id_status">
                                    <option selected value="{{utask.status.id}}">{{utask.status.name}}</option>
                                        {% for status in list_status %}
                                            {% if status.id != utask.status.id %}
                                                <option value="{{status.id}}">{{status.name}}</option>
                                            {% endif %}}
                                        {% endfor %}
                                </select>
                            </div>

                            <!-- enter progress -->
                            <div class="form-group">
                                <label for="id_progress">Progress: (0-100)</label>
                                <input type="number" class="form-control" name="progress" required id="id_progress" value="{{utask.progress}}">
                            </div>

                            <button type="submit" value="submit" class="btn btn-primary">Save</button>

                            <br><br><br><br><br><br>
                        </form>
                    </div>
                </div>
                <!-- end form -->

             </div>
        </main>
        <!-- end main -->
{% endblock %}